<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <img src="img/smile.png" style="width: 100px;height: 100px;">
    <br>
    <% if (userFullName) { %>
        <h3><%=userFullName%></h3>
        <a href="/signout">로그아웃</a>
    <% } else { %>
        <a href="/signup">회원가입</a>
        <a href="/signin">로그인</a>
    <% } %>
</body>

</html>